.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  border-radius: 30px;
  padding: 0.15rem 1.5rem;
  background-color: #101d3f;
  color: white;
  font-size: 1.5rem;
}

.item p {
  color: #3a3a3a;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 480px) {
  .item h3 {
    font-size: 1.2rem;
  }
  .price {
    padding: 0.2rem 1.3rem;
    font-size: 1.2rem;
  }
  .item p {
    font-size: 0.9rem;
  }
  .actions button {
    font-size: 0.9rem;
  }
}
