.products h2 {
  color: black;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.5rem;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  .products h2 {
    margin: 1.3rem auto;
    font-size: 1.2rem;
    word-spacing: 0.3rem;
  }
}
