.item {
  margin: 1rem 0;
  background-color: white;
  padding: 1rem;
  color: black;
}

.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.75rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity span {
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 1px solid black;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: black;
}

.actions button:hover,
.actions button:active {
  background-color: #00000021;
}

@media (max-width: 480px) {
  .item {
    padding: 0.7rem;
  }
  .item h3 {
    font-size: 1.2rem;
  }
  .quantity {
    margin-top: 0.6rem;
  }
  .quantity span {
    font-size: 1.2rem;
  }
  .price {
    width: 40%;
    font-size: 1.2rem;
  }
  .itemprice {
    font-size: 0.8rem;
  }
  .actions {
    margin-top: 1rem;
  }
  .actions button {
    padding: 0rem 0.55rem;
  }
}
